# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/
.env/

# Odoo runtime
*.log
filestore/
sessions/
.odoo_history

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
